<div class="custom-details-card scale-with-shadow-on-hover" style="max-width: 280px;">
    <div class="custom-details-card-header">
        Ahmed Mbarki
    </div>
    <div class="row">
        <div class="col">
            <div class="custom-details-card-image">
                <img src="assets/images/profile/salesman_01.jpg" class="img-fluid responsive-image">
            </div>
            <div class="custom-details-card-description-n-details" style="margin-left: 8px;">
                <div class="custom-details-card-description-container">
                    <div class="custom-details-card-description">
                        Exceptional knowledge of car parts and accessories, coupled with excellent communication and negotiation skills.
                    </div>
                </div>
                <div class="custom-details-card-details">
                    <div><span class="detail-field-name">phone:&nbsp;</span>99 254 625</div>
                    <div><span class="detail-field-name">email:&nbsp;</span>ahmed.mbarki@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="button-group">
        <button type="button" class="btn btn-outline-warning btn-sm" [routerLink]="['/control-panel/profile/details']">Details</button>
    </div>
</div>