<div class="custom-details-card scale-with-shadow-on-hover" style="max-width: 480px;">
    <div class="custom-details-card-header">
        Bosch CSB 550 RE
    </div>
    <div class="row">
        <div class="col-sm-5 no-padding-right">
            <div class="custom-details-card-image">
                <img src="assets/images/device/bosch_csb_550re_hammer_drill.jpeg" class="img-fluid responsive-image">
            </div>
        </div>
        <div class="col-sm-7 no-padding-left">
            <div class="custom-details-card-description-n-details">
                <div class="custom-details-card-description-container">
                    <div class="custom-details-card-description">
                        The Bosch CSB 550 RE 1-9/16-Inch SDS-max Combination Hammer delivers 6.1 ft.-lbs.
                        of impact energy for maximum productivity in all-day drilling and chiseling applications.
                    </div>
                </div>
                <div class="custom-details-card-details">
                    <div><span class="detail-field-name">rent price:&nbsp;</span>$175</div>
                    <div><span class="detail-field-name">rent period:&nbsp;</span>one month</div>
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="button-group">
        <button type="button" class="btn btn-outline-warning btn-sm" [routerLink]="['/control-panel/rental-device/details']">Details</button>
    </div>
</div>


<!-- <div style="margin: 16px; max-width: 360px; text-align: justify; background-color: white; box-shadow: 0px 0px 20px -0px rgba(0, 0, 0, 0.1); display: inline-block; border-bottom: 4px solid rgb(0, 46, 199);">
    <div style="padding: 8px; width: 100%; border-bottom: 1px solid rgb(196, 196, 196);">
        <div style="margin-top: 4px; font-size: 18px; display: inline-block;">Some Device for Rent</div>
        <div style="float: right">
            <button type="button" class="btn btn-outline-dark btn-sm">Details</button>
        </div>
    </div>
    <div style="padding: 16px; color: gray;">
        <span>Need a reliable and heavy-duty forklift for your warehouse operations or construction site? Our forklift
            for rent is the perfect solution for all your lifting needs!</span>
    </div>
</div> -->