<div class="custom-details-card scale-with-shadow-on-hover" style="max-width: 480px;">
    <div class="custom-details-card-header">
        Bosch CSB 550 RE for Rent
    </div>
    <div class="row">
        <div class="col-sm-5 no-padding-right">
            <div class="custom-details-card-image">
                <img src="assets/images/device/bosch_jigsaw.jpg" class="img-fluid responsive-image">
                <img src="assets/images/device/forklift.png" class="img-fluid responsive-image">
            </div>
        </div>
        <div class="col-sm-7 no-padding-left">
            <div class="custom-details-card-description-n-details">
                <div class="custom-details-card-description-container">
                    <div class="custom-details-card-description">
                        We are offering for rent our performant Bosch professional jigsaw which can be used across a wide range of tasks,
                        as well as a powerful Toyota forklift.
                    </div>
                </div>
                <div class="custom-details-card-details">
                    <div><span class="detail-field-name">reference:&nbsp;</span>MS-154887</div>
                    <div><span class="detail-field-name">rent period:&nbsp;</span>15/07/2023 to 15/09/2023</div>
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="button-group">
        <button type="button" class="btn btn-outline-warning btn-sm" [routerLink]="['/control-panel/rental-contract/details']">Details</button>
    </div>
</div>