<div class="container-to-center-horizontally" style=" margin-top: 32px;">
    <div class="custom-details-card scale-with-shadow-on-hover">
        <div class="custom-details-card-header">
            Our company
        </div>
        <div>
            <div class="row" style="margin: 8px;">
                <div class="col-sm no-padding-left">
                    <div class="custom-details-card-image" style="padding: 0; margin-bottom: 16px;">
                        <img src="assets/images/static_pages/about_us.jpg" class="img-fluid responsive-image">
                    </div>
                </div>
                <div class="col-sm">
                    <div style="margin-bottom: 12px; text-align: justify;">
                        As a full-service provider for innovative software solutions, we support small and medium-sized enterprises on the path to digital transformation. Whether in warehouse management, production or field service management: We digitalize your processes and make them simple, flexible, and mobile always in connection with your ERP system.
                    </div>
                    <div style="margin-bottom: 12px; text-align: justify;">
                        Efficient warehouse management has never been so easy. Join us in swapping paper for a mobile handheld device and design your warehouse processes simply, digitally, and flexibly from now on. Whether you want to start your digital transformation with mobile data collection or revolutionize entire logistics processes with a forklift guidance system or driverless transport system, we're the partner you need for your warehouse 4.0.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>