
<div style="padding: 30px; width: fit-content; background-color: white;">
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
</div>
<br>
<div style="padding: 30px; width: fit-content; background-color: white;">
    <button type="button" class="btn btn-outline-primary btn-sm">Primary</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">Secondary</button>
    <button type="button" class="btn btn-outline-success btn-sm">Success</button>
    <button type="button" class="btn btn-outline-danger btn-sm">Danger</button>
    <button type="button" class="btn btn-outline-warning btn-sm">Warning</button>
    <button type="button" class="btn btn-outline-info btn-sm">Info</button>
    <button type="button" class="btn btn-outline-dark btn-sm">Dark</button>
</div>





<br><br><br><br><br><br><br><br><br><br><br><br>