<div style="margin: 16px; max-width: 360px; text-align: justify; background-color: white; box-shadow: 0px 0px 20px -0px rgba(0, 0, 0, 0.1); display: inline-block; border-bottom: 4px solid rgb(0, 46, 199);">
    <div style="padding: 8px; width: 100%; border-bottom: 1px solid rgb(196, 196, 196);">
        <div style="margin-top: 4px; font-size: 18px; display: inline-block;">Some Device for Rent</div>
        <div style="float: right">
            <button type="button" class="btn btn-outline-dark btn-sm">Details</button>
        </div>
    </div>
    <div style="padding: 16px; color: gray;">
        <span>Need a reliable and heavy-duty forklift for your warehouse operations or construction site? Our forklift
            for rent is the perfect solution for all your lifting needs!</span>
    </div>
</div>