<div style="background-color: rgb(232, 232, 255);">
    <div style="max-width: 800px; padding: 16px 0;">
        <div class="row">
            <div class="col-md-1">
                <div style="width: 50px; height: 50px; margin: 0 16px; background-color: white; overflow: hidden; position: relative;"><!-- text-align: center; -->
                    <img src="assets/wrench.svg" style="width: 40px;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"alt="dashboard">
                </div>
            </div>
            <div class="col-md">
                <div style="margin: 0 16px;">
                    <div style="font-size: 20px;">Used Machines</div>
                    <div style="color: gray;">here you can find other's devices for rent and also rent your own devices</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding: 16px;">
    <app-readein-device-details-summary></app-readein-device-details-summary>
    <app-readein-device-details-summary></app-readein-device-details-summary>
    <app-readein-device-details-summary></app-readein-device-details-summary>
    <app-readein-device-details-summary></app-readein-device-details-summary>
</div>