<div class="container-to-center-horizontally" style=" margin-top: 32px;">
    <div class="custom-details-card scale-with-shadow-on-hover">
        <div class="custom-details-card-header">
            Get in touch
        </div>
        <div>
            <form>
                <div class="row" style="margin: 8px;">
                    <div class="col-sm no-padding-left">
                        <div class="custom-details-card-image" style="padding: 0; margin-bottom: 16px;">
                            <img src="assets/images/static_pages/contact_us.jpg" class="img-fluid responsive-image">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div style="margin-bottom: 12px;">
                            <div><span class="detail-field-name">phone:&nbsp;</span>99 888 777</div>
                            <div><span class="detail-field-name">email:&nbsp;</span>contact@lmobile.com</div>
                            <div><span class="detail-field-name">address:&nbsp;</span>30 Rue de Sousse, Nabeul 8000</div>
                        </div>
                        <div class="mb-2">
                            <label for="fullNameInput" class="form-label">Full name</label>
                            <input type="text" class="form-control form-control-background-color" id="fullNameInput" placeholder="Enter full name" name="fullName">
                        </div>
                        <div class="mb-2">
                            <label for="emailInput" class="form-label">Email address</label>
                            <input type="email" class="form-control form-control-background-color" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                        </div>
                        <div class="mb-2">
                            <label for="messageInput" class="form-label">Message</label>
                            <textarea class="form-control form-control-background-color" id="messageInput" rows="4" placeholder="Enter message" name="message"></textarea>
                        </div>
                    </div>
                </div>  
                <hr class="separator">
                <div class="button-group">
                    <button type="submit" class="btn btn-success btn-sm mt-2">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>