<div style="background-color: rgb(232, 232, 255);">
    <div style="max-width: 860px; padding: 16px 0;">
        <div class="row">
            <div class="col-md-1">
                <div style="width: 50px; height: 50px; margin: 0 16px; background-color: white; overflow: hidden; position: relative;">
                    <img src="assets/images/icons/vertical_menu/accounts.svg" style="width: 40px;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"alt="dashboard">
                </div>
            </div>
            <div class="col-md">
                <div style="margin: 0 16px;">
                    <div>
                        <span style="margin-right: 24px; font-size: 20px;">Accounts</span>
                        <!-- <span style="font-size: 18px; text-decoration: underline;">
                            <span style="margin: 0 12px;">
                                <span style="cursor: pointer;">Enabled</span>
                            </span>
                            <span style="margin: 0 12px;">
                                <span style="cursor: pointer;">Disabled</span>
                            </span>
                        </span> -->
                    </div>
                    <div style="color: gray;">Manage salesman accounts, update their information and change account status.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="padding: 16px;">
    <router-outlet></router-outlet>
</div>