
<div>
    <button type="button" class="btn btn-outline-success" [routerLink]="['/control-panel/rental-device/add']">New rental device</button>
</div>

<div *ngFor="let r of listRental" class="custom-details-card scale-with-shadow-on-hover" style="max-width: 480px;">
  <div class="custom-details-card-header">
    {{r.brand}}
      {{r.serialNumber}}
  </div>
  <div class="row">
      <div class="col-sm-5 no-padding-right">
          <div class="custom-details-card-image">
              <img [src]="r.pictureFilePath" class="img-fluid responsive-image">
          </div>
      </div>
      <div class="col-sm-7 no-padding-left">
          <div class="custom-details-card-description-n-details">
              <div class="custom-details-card-description-container">
                  <div class="custom-details-card-description">
                    {{r.description}}
                         </div>
              </div>
              <div class="custom-details-card-details">
                  <div><span class="detail-field-name">purchase price:&nbsp;</span>${{r.purchasePrice}}</div>
                  <div><span class="detail-field-name">Date of rent:&nbsp;</span>{{r.yearOfManufacture | date:'short'}}</div>
              </div>
          </div>
      </div>
  </div>
  <hr class="separator">
  <div class="button-group">
      <button type="button" class="btn btn-outline-success btn-sm" (click)="goToDetail(r.id)">Details</button>
      <button type="button" class="btn btn-outline-warning btn-sm" (click)="goToEdit(r.id)">Edit</button>
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(r.id)">Delete</button>

    </div>
</div>
