<div class="custom-details-card scale-with-shadow-on-hover" style="max-width: 360px;">
    <div class="custom-details-card-header">
        Change employee login
    </div>
    <div>
        <form>
            <div class="row" style="margin: 8px;">
                <div class="col-sm">
                    <div class="mb-2">
                        <label for="loginInput" class="form-label">New login</label>
                        <input type="text" class="form-control form-control-background-color" id="loginInput" placeholder="Enter login">
                    </div>
                </div>
            </div>  
            <hr class="separator">
            <div class="button-group">
                <button type="button" class="btn btn-outline-secondary btn-sm" [routerLink]="['/control-panel/profile/details']">Back</button>
                <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/control-panel/profile/details']">Save</button>
            </div>
        </form>
    </div>
</div>
